
{% extends 'Layout/Layout.html' %}
{%block titulo%}
Lista de Clientes
{%endblock%}
{% block content %}
 {% csrf_token %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nit</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Télefono</th>
            <th scope="col">Accion</th>
        </tr>
    </thead >
    <tbody>
        {% if object_list %}
        {% for cliente in object_list %}
        <tr>
            <th>{{ cliente.id }}</th>
            <th>{{ cliente.nombrec }}</th>
            <th>{{ cliente.apellido }}</th>
            <th>{{ cliente.nit }}</th>
            <th>{{ cliente.direccion }}</th>
            <th>{{ cliente.correo }}</th>
            <th>{{ cliente.numero }}</th>
            <th>
                <a class="btn btn-primary" href="{% url 'Clientes:EditarCliente' cliente.id %}">Editar</a>
            </th>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No existe ningun Cliente</h1>
        {% endif %}
    </tbody>

</table>
<a  class="btn btn-primary" href="{% url 'Clientes:CrearClientes' %}">Nuevo Cliente</a>


{% endblock %}


